<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
  </head>
  <body>
    <h1>File uploader</h1>
    <p>PDF FILE</p>
    <form
      action="{{url_for('upload_pdf')}}"
      id="upload-form"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" placeholder="PDF FILE" label="PDF FILE" />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <p>TEXT FILE</p>
    <form
      action="{{url_for('upload_text')}}"
      id="upload-form"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" placeholder="TEXT FILE" label="PDF FILE" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
